table {
  tbody {
    tr {
      td {
        &.to-upper {
          text-transform: uppercase;
        }
      }
    }
  }
  thead {
    tr {
      th {
        &:first-child {
          width: .5em;
          background-color: red;
          color: white;
        }
      }
    }
  }
}
