    <ng-container *ngIf="shopList.length > 0 else noProduct">
      <table>
        <thead>
          <tr>
            <th>Produit</th>
            <th>Quantité</th>
            <th>Unité</th>
            <th>&nbsp;</th>
        </thead>
        <tbody>
          <tr *ngFor="let product of shopList">
            <td class="to-upper">{{ product.name | uppercase }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.unity }}</td>
            <td>
              <button type="button" (click)="remove(product)">x</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              {{ shopList.length | pluralize }}
            </td>
          </tr>
        </tfoot>
      </table>
    </ng-container>


    <ng-template #noProduct>{{ shopList.length | pluralize }}</ng-template>
