    <ng-container *ngIf="shopList.length > 0 else noProduct">
      <table>
        <thead>
          <tr>
            <th (click)="allSelected = !allSelected">
              {{ allSelected ? 'x' : ''}}
            </th>
            <th>{{ 'home.product' | translate }}</th>
            <th>{{ 'home.quantity' | translate }}</th>
            <th>{{ 'home.unit' | translate }}</th>
            <th>&nbsp;</th>
        </thead>
        <tbody>
          <tr *ngFor="let product of shopList">
            <td (click)="changeSelection(product)">
              {{ product.isSelected || allSelected ? 'x' : ''}}
            </td>
            <td class="to-upper">{{ product.name | uppercase }}</td>
            <td>
              <app-product-quantity [product]="product" (removeProduct)="remove($event)"></app-product-quantity>
            </td>
            <td>{{ product.unity }}</td>
            <td>
              <span appUpdateBtn [innerText]="'Mise à jour'" [product]="product"></span>
              <button type="button" (click)="remove(product)">x</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              {{ shopList.length | pluralize }}
            </td>
          </tr>
        </tfoot>
      </table>

      <!-- ShopList from Map -->
      <ul>
        <li *ngFor="let item of list() | keyvalue">
          {{ item.key }} {{ item.value.name }}
        </li>
      </ul>
    </ng-container>

    <button type="button" (click)="add()" [disabled]="editMode">
      Ajouter
    </button>

    <ng-container *ngIf="editMode">
      <app-product-form (newProduct)="addToList($event)"></app-product-form>
    </ng-container>

    <ng-template #noProduct>{{ shopList.length | pluralize }}</ng-template>
